<% provide(:title, 'O nas') %>

<%= content_for :page_title do %>
  <div id="content">
    <div class="rotate" style="display:none;">
      <%= image_tag('about.jpg', class: 'rest-image') %>
    </div>
  </div>
<% end %>

<section class="spa-area spa-area-17">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="widget spa-widget-portfolio">
          <div class="widget-header style-08">
            <span class="sub-title style-03"></span>
            <h3 class="widget-title style-05">Kim jestesmy</h3>
          </div>
          <div class="widget-content">
            <p>
              Wizzart to studio zajmujące się projektowaniem wnętrz oraz krajobrazów zarówno dla kilentów biznesowych jak i indywidualnych.
            </p>

            <p>
              Projekty przedstawiamy klientom w fotorealistycznej wizualizacji, dzięki której można zobaczyć przyszły efekt i dopracować go już na etapie projektu.
            </p>

            <p>
              Oferujemy także realizację projektów przez współpracujące z nami firmy oraz nadzór nad wykonawstwem.
            </p>
          </div>

          <br/>

          <div class="widget-header style-08">
            <span class="sub-title style-03"></span>
            <h3 class="widget-title style-05">Nasze realizacje</h3>
          </div>
          <div class="widget-content">
            <p>
              Nasze doświadzenie zdobyliśmy realizując projekty:

              <ul class="disc">
                <li>hoteli i restauracji</li>
                <li>biur, sklepów</li>
                <li>domów i mieszkań</li>
                <li>ogrodów</li>
                <li>przestrzeni wokół budynków publicznych i mieszkalnych</li>
              </ul>
            </p>
          </div>

          <br/>

          <div class="widget-header style-08">
            <span class="sub-title style-03"></span>
            <h3 class="widget-title style-05">Nasze zasady</h3>
          </div>

          <h6>JAKOŚĆ i ESTETYKA</h6>
          <div class="widget-content">
            <p>
              Proponujemy trwałe materiały dobrej jakości i ponadczasowe rozwiązania. Nasze realizacje maja być modne dziś i jutro.
            </p>
          </div>

          <h6>FUNKCJONALNOŚĆ</h6>
          <div class="widget-content">
            <p>
              Stawiamy na funkcjonlanośc przestrzeni i zaspokojenie potrzeb klientów. Nasi klienci muszą czuć się komfortowo w swojej przestrzeni każdego dnia.
            </p>
          </div>

          <h6>ROZSĄDEK</h6>
          <div class="widget-content">
            <p>
              Pracujemy w ramach budżetu. Nasze projekty są kreatywne, ale zawsze możwlie do zrealizowania w założonym budżecie.
            </p>
          </div>

          <br/>
          <br/>
          <h6>„Kreatywność to bawiąca się inteligencja” Albert Einstein</h6>
        </div>
      </div>
    </div>
  </div>
</section>
