<% provide(:title, "O Firmie") %>

<section class="spa-area spa-area-no-space" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="widget spa-widget-owl-slide-home1">
    <div class="owl-carousel spa-owl-slider">
      <article class="entry-item">
        <div class="entry-thumb">
          <%= image_tag ('3.jpg') %>
        </div>
        <div class="entry-content">
          <p>Szanowny Kliencie.</p>
          <p></p>
          <p>Zajmuję się opracowywaniem projektów wnętrz, architekturą krajobrazu oraz wizualizacją różnorodnych
            produktów. Mogę
            również przygotować animacje.
            Dzięki foto realistycznej wizualizacji szybko zobaczysz jak mogą wyglądać Twoje zamierzenia, pragnienia,
            pomysły.
            Zaoszczędzisz czas i pieniądze.
            Realizując zlecenia mam na uwadze zarówno indywidualne potrzeby i wymagania klienta , jak i najnowsze
            światowe trendy
            w dziedzinie projektowania .
            Szczegóły oferty uzgadniamy z klientem.</p>

          <p></p>Oferta wizualizacji:
          <ul>
            <li>wizualizacje wnętrz</li>
            <li>wizualizacje budynków</li>
            <li>wizualizacje przedmiotów</li>
            <li>animacje</li>
          </ul>

          <p></p>
          <ul>
            Oferta projektowa:
            <li>
              projekty wnętrz
            <li>

            </li>
            <li>projekty krajobrazu
            </li>
          </ul>
          </p>
        </div>
      </article>
    </div>
  </div>
</section>