<% provide(:title, "O Firmie") %>

<p>Szanowny Kliencie.</p>
<p></p>
<p>Zajmuję się opracowywaniem projektów wnętrz, architekturą krajobrazu oraz wizualizacją różnorodnych produktów. Mogę
  również przygotować animacje.
  Dzięki foto realistycznej wizualizacji szybko zobaczysz jak mogą wyglądać Twoje zamierzenia, pragnienia, pomysły.
  Zaoszczędzisz czas i pieniądze.
  Realizując zlecenia mam na uwadze zarówno indywidualne potrzeby i wymagania klienta , jak i najnowsze światowe trendy
  w dziedzinie projektowania .
  Szczegóły oferty uzgadniamy z klientem.</p>

<p></p>Oferta wizualizacji:
<ul>
  <li>wizualizacje wnętrz</li>
  <li>wizualizacje budynków</li>
  <li>wizualizacje przedmiotów</li>
  <li>animacje</li>
</ul>

<p></p>
<ul>
  Oferta projektowa:
  <li>
    projekty wnętrz
  <li>

  </li>
  <li>projekty krajobrazu
  </li>
</ul>