<% provide(:title, "Strona główna") %>

<div id="content">
  <div class="rotate" style="display:none;">
     <% 6.times do |i| %>
         <%= image_tag("index#{i}.jpeg") %>
     <% end %>
  </div>
</div>

<%= render partial: 'static_pages/home/recent_products' %>
