<% provide(:title, "Strona główna") %>

<div id="content">

  <div id="rotate" style="display:none;">
    <% for i in 1..5 %>
        <%= image_tag ("index#{i}.jpeg") %>
    <% end %>
  </div>
  <script type="text/javascript">$(document).ready(function () {
    $('#rotate').css('display', 'block');
    $('#rotate').cycle({fx: 'fade', timeout: 1000, after: onAfter, speed: 3000});
  });
  function onAfter(curr, next, opts, fwd) {
    var $ht = $(this).height();
    $(this).parent().animate({height: $ht});

  }
  $(document).ready(ready);
  $(document).on('page:load', ready);
  </script>
</div>
