<% provide(:title, "Strona główna") %>

<section class="spa-area spa-area-no-space" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="widget spa-widget-owl-slide-home1">
    <div class="owl-carousel spa-owl-slider">
      <article class="entry-item">
        <div class="entry-thumb">
          <%= image_tag ('3.jpg') %>
        </div>
        <div class="entry-content">
          <center>
            <p>Tu zaczyna sie cale zuoooo</p>
          </center>

          </p>
        </div>
      </article>
    </div>
  </div>
</section>