<% provide(:title, "Kontakt") %>

<section class="spa-area spa-area-17">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="widget spa-widget-portfolio">
          <div class="widget-header style-08">
            <span class="sub-title style-03">Kontakt </span>
            <h3 class="widget-title style-05">Dane adresowe</h3>
          </div>
          <div class="widget-content">
            WIZZART Aleksander Śliwiński
            <p></p>
            31-147 Kraków, ul. Długa 63/8
            <p></p>
            Tel: 504-285-395, e-mail: wizzart24@gmail.com
            <p></p>
            NIP:676-22-88-221, REGON: 122586050
            <p></p>
            <p>
              <a href="mailto:wizzart24@gmail.com" class="spa-btt-hastar"><i class="fa fa-star"></i>Napisz do
                mnie<i class="fa fa-star"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



