<% provide(:title, "Kontakt") %>

<p>WIZZART Aleksander Śliwiński</p>
<p>31-147 Kraków, ul. Długa 63/8</p>
<p>Tel: 504-285-395, e-mail: wizzart24@gmail.com</p>
<p>NIP:676-22-88-221, REGON: 122586050</p>
<a href="mailto:wizzart24@gmail.com" class="spa-btt-hastar"><i class="fa fa-star"></i>Napisz do mnie<i class="fa fa-star"></i></a>
