<% provide(:title, "Kontakt") %>
<section class="spa-area spa-area-no-space" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="widget spa-widget-owl-slide-home1">
    <div class="owl-carousel spa-owl-slider">
      <article class="entry-item">
        <div class="entry-thumb">
          <%= image_tag ('3.jpg') %>
        </div>
        <div class="entry-content">
          <p>WIZZART Aleksander Śliwiński</p>
          <p>31-147 Kraków, ul. Długa 63/8</p>
          <p>Tel: 504-285-395, e-mail: wizzart24@gmail.com</p>
          <p>NIP:676-22-88-221, REGON: 122586050</p>
          <p></p>
          <p>
            <a href="mailto:wizzart24@gmail.com" class="spa-btt-hastar"><i class="fa fa-star"></i>Napisz do
              mnie<i class="fa fa-star"></i></a>
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
