<% provide(:title, "Projekty") %>

<section class="spa-area spa-area-no-space">
  <div class="widget spa-widget-product-special">
    <div class="widget-content">
      <div class="row custom-row-01">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <article class="entry-item">
            <div class="entry-thumb spa-thumb-effect-1">
              <a href="#">
                <img src="http://placehold.it/640x400" alt="">
                <div class="spa-wrap-intro-thumb">
                  <i class="fa fa-anchor"></i>
                  <h4 class="spa-title-thumb">Projekt</h4>
                  <span>tekst</span>
                  <img src="http://placehold.it/125x20" alt="">
                </div>
              </a>
            </div>
          </article>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <article class="entry-item">
            <div class="entry-thumb spa-thumb-effect-1">
              <a href="#">
                <img src="http://placehold.it/640x400" alt="">
                <div class="spa-wrap-intro-thumb">
                  <i class="fa fa-anchor"></i>
                  <h4 class="spa-title-thumb">Projekt</h4>
                  <span>tekst</span>
                  <img src="http://placehold.it/125x20" alt="">
                </div>
              </a>
            </div>
          </article>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <article class="entry-item">
            <div class="entry-thumb spa-thumb-effect-1">
              <a href="#">
                <img src="http://placehold.it/640x400" alt="">
                <div class="spa-wrap-intro-thumb">
                  <i class="fa fa-anchor"></i>
                  <h4 class="spa-title-thumb">Projekt</h4>
                  <span>tekst</span>
                  <img src="http://placehold.it/125x20" alt="">
                </div>
              </a>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>


<!--tu kiedys bedzie pewnie jakas petla for.each na kazdy projekt a wlasciwie 2 (1 na wiersze, 2 na kolumny)-->