@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Codystar);
@import url(https://fonts.googleapis.com/css?family=Condiment);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300italic,300);
/* line 106, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-widget-owl-3-home-1 .owl-theme .owl-controls .owl-buttons div::before, .widget_nav_menu a:hover, .spa-widget-contact-bottom a:hover {
  color: #ffc800;
}

/* line 134, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.bottom-sidebar.style-01 .white-text-style .widget-title {
  color: #ffc200;
}

/* line 138, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-widget-owl-3-home-1 {
  background: #ffc200;
}

/* line 203, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-widget-install ul:before, .spa-widget-install ul:after {
  content: "";
  display: table;
}
/* line 208, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-widget-install ul:after {
  clear: both;
}

/* line 220, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.widget_nav_menu a:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 439, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 445, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::-moz-selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 3, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.bottom-sidebar .widget {
  margin-bottom: 130px;
}
/* line 6, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.bottom-sidebar .widget-title {
  margin-bottom: 50px;
}

/* line 10, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.bottom-sidebar.style-01 {
  background-image: url("img/background/3.jpg");
  background-size: cover;
}
/* line 16, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.bottom-sidebar.style-01 .custom-row-bottom {
  margin-top: -45px;
}
/* line 18, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.bottom-sidebar.style-01 .custom-row-bottom .widget {
  margin-bottom: 110px;
}

/* line 23, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.bottom-sidebar.style-02 {
  padding-top: 30px;
}
/* line 25, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.bottom-sidebar.style-02 .widget-title {
  margin-bottom: 25px;
}
/* line 28, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.bottom-sidebar.style-02 .widget {
  margin-bottom: 75px;
}

/* line 34, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .spa-icon {
  display: inline-block;
  color: #ffffff;
  width: 70px;
  height: 90px;
  position: relative;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
}
/* line 42, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .spa-icon i {
  font-size: 33px;
  line-height: 90px;
  padding-left: 20px;
}
/* line 47, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .spa-icon:after {
  content: "";
  position: absolute;
  height: 0px;
  width: 0px;
  border-bottom-width: 90px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: transparent;
  border-left-width: 75px;
  border-left-style: solid;
  border-left-color: rgba(0, 0, 0, 0.1);
  top: 0px;
  left: 70px;
}
/* line 65, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .entry-item {
  padding-top: 20px;
}
/* line 67, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .entry-item > a {
  display: block;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-size: 11px;
  line-height: 16px;
}
/* line 73, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .entry-item > a:hover {
  color: #ffffff;
}
/* line 77, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .entry-item > p {
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 3px;
}
/* line 82, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .entry-item > p > a {
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  text-decoration: underline !important;
}
/* line 87, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .entry-item > p > a:hover {
  color: #333333;
}
/* line 93, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .owl-controls {
  position: absolute;
  margin-top: 0px;
  top: 30px;
  right: 25px;
}
/* line 99, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .owl-carousel.owl-loaded {
  padding-right: 100px;
}
/* line 102, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .owl-theme .owl-controls .owl-nav div {
  background: rgba(0, 0, 0, 0.2);
}
/* line 104, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .owl-theme .owl-controls .owl-nav div:hover {
  background: black;
}
/* line 106, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .owl-theme .owl-controls .owl-nav div:hover .owl-theme .owl-controls .owl-nav div:after {
  border-right-color: black;
  border-left-color: black;
}
/* line 112, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .owl-theme .owl-controls .owl-nav div:after {
  border-right-color: rgba(0, 0, 0, 0.2);
}
/* line 115, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .owl-theme .owl-controls .owl-nav div:after {
  border-left-color: rgba(0, 0, 0, 0.2);
}
/* line 118, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .owl-theme .owl-controls .owl-nav div.owl-next:hover:after {
  border-left-color: black;
}
/* line 121, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .owl-theme .owl-controls .owl-nav div.owl-prev:hover:after {
  border-right-color: black;
}
/* line 124, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .owl-theme .owl-controls .owl-buttons div {
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 127, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .owl-theme .owl-controls .owl-buttons div::after {
  border-right-color: rgba(0, 0, 0, 0.1);
}
/* line 130, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .owl-theme .owl-controls .owl-buttons div.owl-next::after {
  border-left-color: rgba(0, 0, 0, 0.1);
}
/* line 137, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .owl-theme .owl-controls .owl-buttons div.owl-prev:hover, .spa-widget-owl-3-home-1 .owl-theme .owl-controls .owl-buttons div.owl-next:hover {
  background-color: #ffffff;
}
/* line 139, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1 .owl-theme .owl-controls .owl-buttons div.owl-prev:hover:before, .spa-widget-owl-3-home-1 .owl-theme .owl-controls .owl-buttons div.owl-prev:hover:after, .spa-widget-owl-3-home-1 .owl-theme .owl-controls .owl-buttons div.owl-next:hover:before, .spa-widget-owl-3-home-1 .owl-theme .owl-controls .owl-buttons div.owl-next:hover:after {
  border-right-color: #ffffff;
  border-left-color: #ffffff;
}
/* line 146, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1.style-01 .owl-theme .owl-controls .owl-buttons div {
  background-color: #ffffff;
}
/* line 149, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1.style-01 .owl-theme .owl-controls .owl-buttons div::after {
  border-right-color: #ffffff;
}
/* line 152, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-owl-3-home-1.style-01 .owl-theme .owl-controls .owl-buttons div.owl-next::after {
  border-left-color: #ffffff;
}

/* line 158, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-text-logo .spa-logo-bottom {
  margin-bottom: 30px;
}
/* line 161, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-text-logo p {
  font-size: 15px;
  line-height: 24px;
  color: #9b9b9b;
}
/* line 165, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-text-logo p:last-of-type {
  margin-bottom: 30px;
}
/* line 168, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-text-logo p span {
  font-weight: 500;
}
/* line 172, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-text-logo h3 {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 10px;
}
/* line 178, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-text-logo .spa-wrap p {
  line-height: 21px;
  margin: 0px;
}

/* line 185, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.widget_nav_menu a {
  font-size: 15px;
  line-height: 30px;
  color: #9a9a9a;
  font-size: 15px;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
}
/* line 192, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.widget_nav_menu a:before {
  margin-right: 10px;
}

/* line 203, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-contact-bottom a {
  color: #9b9b9b;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  display: block;
  padding-left: 35px;
  position: relative;
  margin-bottom: 5px;
}
/* line 212, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-contact-bottom a:first-of-type {
  margin-bottom: 13px;
}
/* line 215, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-contact-bottom a:last-of-type {
  margin-bottom: 0px;
}
/* line 221, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-contact-bottom a i {
  font-size: 16px;
  position: absolute;
  top: 3px;
  left: 0px;
}

/* line 229, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-install {
  padding: 0px 15px;
}
/* line 231, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-install ul {
  margin-top: -10px;
}
/* line 235, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.spa-widget-install ul li {
  display: inline-block;
  float: left;
  padding: 0px 5px;
  margin-top: 10px;
}
@media screen and (max-width: 1500px) {
  /* line 229, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
  .spa-widget-install {
    padding: 0px 100px;
  }
}
@media screen and (max-width: 1160px) {
  /* line 229, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
  .spa-widget-install {
    padding: 0px 50px;
  }
}

/* line 251, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_bottom-sidebar-1.scss */
.white-text-style .spa-widget-text-logo p span, .white-text-style .spa-widget-text-logo h3, .white-text-style .widget_nav_menu a:hover, .white-text-style .spa-widget-contact-bottom a:hover {
  color: #ffffff;
}
