@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Codystar);
@import url(https://fonts.googleapis.com/css?family=Condiment);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300italic,300);
/* line 110, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-module-table-compare #accordion-2 .panel-default > .panel-heading.active {
  background: #ffc800;
}

/* line 203, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-list-compare:before, .spa-list-compare:after {
  content: "";
  display: table;
}
/* line 208, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-list-compare:after {
  clear: both;
}

/* line 439, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 445, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::-moz-selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 2, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-module-compare {
  margin-bottom: 30px;
}

/* line 5, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-list-compare {
  margin: 0px;
  padding: 0px;
}
/* line 9, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-list-compare li {
  width: 20%;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  float: left;
  position: relative;
}
/* line 17, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-list-compare li.spa-no-thumb:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0px;
  z-index: 2;
  left: 0px;
}
/* line 27, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-list-compare li.spa-no-thumb:after {
  content: "?";
  font-size: 53px;
  line-height: 63px;
  font-weight: bold;
  color: #ffffff;
  z-index: 3;
  top: 0px;
  right: 0px;
  width: 100%;
  text-align: center;
  position: absolute;
}
/* line 40, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-list-compare li.spa-no-thumb .content .spa-colse:before {
  background-color: #dddddd;
}
/* line 45, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-list-compare .entry-thumb {
  padding: 0px 20px;
  margin-bottom: 25px;
}
/* line 49, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-list-compare .content {
  background-color: #f8f8f8;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  margin-bottom: 0px;
  min-height: 86px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px 20px;
  position: relative;
  overflow: hidden;
}
/* line 61, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-list-compare .content h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 0px;
  width: 100%;
}
/* line 68, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-list-compare .content .spa-colse {
  color: #ffffff;
  font-size: 14px;
  position: absolute;
  height: 50px;
  width: 50px;
  top: -26px;
  right: -3px;
}
/* line 76, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-list-compare .content .spa-colse:after {
  content: "x";
  position: absolute;
  bottom: 1px;
  right: 8px;
}
/* line 82, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-list-compare .content .spa-colse:before {
  content: "";
  height: 50px;
  width: 50px;
  background-color: #ff4000;
  position: absolute;
  transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
}
@media screen and (max-width: 979px) {
  /* line 97, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
  .spa-list-compare li {
    width: 33.33333%;
  }
  /* line 99, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
  .spa-list-compare li.spa-no-thumb {
    display: none;
  }
}
@media screen and (max-width: 639px) {
  /* line 105, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
  .spa-list-compare li {
    width: 50%;
  }
  /* line 107, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
  .spa-list-compare li:nth-child(3n) {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  /* line 113, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
  .spa-list-compare li {
    width: 100%;
  }
  /* line 115, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
  .spa-list-compare li:nth-child(2n) {
    display: none;
  }
}

/* line 122, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-module-table-compare #accordion-2 .panel-heading + .panel-collapse > .panel-body, .spa-module-table-compare #accordion-3 .panel-heading + .panel-collapse > .panel-body {
  padding: 0px;
  margin-bottom: 45px;
}
/* line 125, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-module-table-compare #accordion-2 .panel-heading + .panel-collapse > .panel-body:before, .spa-module-table-compare #accordion-3 .panel-heading + .panel-collapse > .panel-body:before {
  display: none;
}
/* line 133, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-module-table-compare #accordion-2 div.panel-default > .panel-heading.active .btn-title {
  background-color: #ffb440;
}
/* line 136, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-module-table-compare #accordion-2 div.panel-default > .panel-heading.active a:after {
  border-left-color: #ffb440;
}
/* line 139, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-module-table-compare #accordion-2 .tab-title {
  font-weight: bold;
}

/* line 143, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-compare-table {
  width: 100%;
}
/* line 145, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-compare-table thead {
  background-color: #444444;
}
/* line 150, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-compare-table thead th {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding: 30px 20px;
  margin: 20px 0px;
  position: relative;
}
/* line 159, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-compare-table thead th:before {
  content: "";
  position: absolute;
  height: 50%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  top: 25%;
  left: 0px;
}
/* line 168, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-compare-table thead th i {
  font-size: 16px;
  margin-right: 10px;
}
/* line 172, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-compare-table thead th:first-of-type {
  padding-left: 30px;
  text-align: left;
  padding-right: 30px;
}
/* line 176, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-compare-table thead th:first-of-type:before {
  background-color: inherit;
}
/* line 180, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-compare-table thead th a {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #999999;
  border: 1px solid #353535;
  background-color: #515151;
  padding: 9px 15px;
  border-radius: 2px;
}
/* line 195, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-compare-table tbody tr:first-of-type td {
  padding-top: 47px;
}
/* line 200, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-compare-table tbody td {
  font-size: 14px;
  line-height: 49px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
}
/* line 207, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_compare.scss */
.spa-compare-table tbody td:first-of-type {
  color: #9f9f9f;
  text-align: left;
}
