@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Codystar);
@import url(https://fonts.googleapis.com/css?family=Condiment);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300italic,300);
/* line 439, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 445, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::-moz-selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 3, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_element.scss */
.spa-element-content div[class^='spa-element'] {
  margin-bottom: 55px;
}
/* line 5, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_element.scss */
.spa-element-content div[class^='spa-element']:last-child {
  margin-bottom: 0px;
}
/* line 10, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_element.scss */
.spa-element-content .spa-element-header p {
  margin-bottom: 20px;
}
/* line 12, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_element.scss */
.spa-element-content .spa-element-header p:last-child {
  margin-bottom: 0px;
}
/* line 18, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_element.scss */
.spa-element-content .spa-element-alert .row {
  margin-top: -10px;
}
/* line 20, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_element.scss */
.spa-element-content .spa-element-alert .row div.spa-alert {
  margin-top: 10px;
}
/* line 26, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_element.scss */
.spa-element-content .spa-element-button p {
  margin-bottom: 25px;
  margin-top: 45px;
}
/* line 29, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_element.scss */
.spa-element-content .spa-element-button p:first-of-type {
  margin-top: 0px;
}
/* line 32, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_element.scss */
.spa-element-content .spa-element-button p span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
/* line 39, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_element.scss */
.spa-element-content .spa-element-qoute > blockquote {
  margin-bottom: 50px;
}
/* line 41, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_element.scss */
.spa-element-content .spa-element-qoute > blockquote:last-child {
  margin-bottom: 0px;
}
/* line 47, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_element.scss */
.spa-element-content .spa-element-tab > .row {
  margin-bottom: 40px;
}
/* line 49, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_element.scss */
.spa-element-content .spa-element-tab > .row:last-of-type {
  margin-bottom: 0px;
}
