@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Codystar);
@import url(https://fonts.googleapis.com/css?family=Condiment);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300italic,300);
/* line 134, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-footer .spa-copyright span, .spa-footer .spa-menu-footer a:hover {
  color: #ffc200;
}

/* line 439, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 445, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::-moz-selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 2, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_footer.scss */
.spa-footer {
  background: #1e1e1e;
  padding: 33px 0px;
}
/* line 5, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_footer.scss */
.spa-footer .spa-copyright {
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}
/* line 12, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_footer.scss */
.spa-footer .spa-copyright i {
  color: #ff4c4c;
}
/* line 16, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_footer.scss */
.spa-footer .spa-menu-footer {
  text-align: right;
}
/* line 18, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_footer.scss */
.spa-footer .spa-menu-footer ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
/* line 23, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_footer.scss */
.spa-footer .spa-menu-footer li {
  list-style-type: none;
  display: inline-block;
  margin: 0px;
  padding: 0px 5px;
}
/* line 29, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_footer.scss */
.spa-footer .spa-menu-footer a {
  font-size: 12px;
  line-height: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #757575;
}

/* line 41, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_footer.scss */
.spa-footer.style-01 {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 78px;
  text-align: center;
}
/* line 46, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_footer.scss */
.spa-footer.style-01 .spa-logo {
  margin-bottom: 11px;
}
/* line 49, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_footer.scss */
.spa-footer.style-01 .spa-copyright {
  font-size: 12px;
}
/* line 52, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_footer.scss */
.spa-footer.style-01 .spa-socail {
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
}
/* line 56, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_footer.scss */
.spa-footer.style-01 .spa-socail li {
  margin: 0px;
  line-height: 18px;
}
/* line 60, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_footer.scss */
.spa-footer.style-01 .spa-socail a {
  font-size: 15px;
  line-height: 18px;
  color: #545454;
}
/* line 64, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_footer.scss */
.spa-footer.style-01 .spa-socail a:hover {
  color: #4cd2ff;
}
