@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Codystar);
@import url(https://fonts.googleapis.com/css?family=Condiment);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300italic,300);
/* line 439, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 445, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::-moz-selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 2, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_hexan.scss */
.spa-hexangon {
  position: relative;
  width: 65px;
  height: 37.53px;
  background-color: #f8f8f8;
  margin: 18.76px 0;
  border-left: solid 1px #e2e2e2;
  border-right: solid 1px #e2e2e2;
}

/* line 12, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_hexan.scss */
.spa-hexangon:before,
.spa-hexangon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 45.96px;
  height: 45.96px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 8.5190px;
}

/* line 26, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_hexan.scss */
.spa-hexangon:before {
  top: -22.9810px;
  border-top: solid 1.4142px #e2e2e2;
  border-right: solid 1.4142px #e2e2e2;
}

/* line 32, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_hexan.scss */
.spa-hexangon:after {
  bottom: -22.9810px;
  border-bottom: solid 1.4142px #e2e2e2;
  border-left: solid 1.4142px #e2e2e2;
}

/* line 37, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_hexan.scss */
.spa-hexangon.style-01 {
  background-color: #ffffff;
}
