@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Codystar);
@import url(https://fonts.googleapis.com/css?family=Condiment);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300italic,300);
/* line 110, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-widget-masonry-home-1 .entry-thumb:before {
  background: #ffc800;
}

/* line 213, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-widget-masonry-home-1 .entry-thumb:before, .spa-widget-masonry-home-1 .entry-content {
  transition: all .3s, visibility 0s;
  -ms-transition: all .3s, visibility 0s;
  -webkit-transition: all .3s, visibility 0s;
  -moz-transition: all .3s, visibility 0s;
}

/* line 267, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-widget-masonry-home-1 .entry-content {
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

/* line 439, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 445, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::-moz-selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 4, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_masonry-home-1.scss */
.spa-widget-masonry-home-1 .entry-thumb:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0px;
  left: -100%;
  opacity: 0.9;
}
/* line 16, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_masonry-home-1.scss */
.spa-widget-masonry-home-1 .entry-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: -100%;
  text-align: center;
  z-index: 2;
  opacity: 1;
}
/* line 27, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_masonry-home-1.scss */
.spa-widget-masonry-home-1 .entry-item {
  overflow: hidden;
}
/* line 32, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_masonry-home-1.scss */
.spa-widget-masonry-home-1 .entry-item:hover .entry-thumb:before {
  left: 0px;
}
/* line 36, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_masonry-home-1.scss */
.spa-widget-masonry-home-1 .entry-item:hover .entry-content {
  left: 0px;
}
/* line 40, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_masonry-home-1.scss */
.spa-widget-masonry-home-1 .spa-wrap-thumb-add-feature {
  position: static;
  transform: translate(0);
  -moz-transform: translate(0);
  -webkit-transform: translate(0);
  -o-transform: translate(0);
  -ms-transform: translate(0);
  display: block;
  text-align: center;
  margin-bottom: 25px;
}
/* line 50, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_masonry-home-1.scss */
.spa-widget-masonry-home-1 .spa-wrap-thumb-add-feature a {
  float: none;
  margin: 0px;
}
/* line 53, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_masonry-home-1.scss */
.spa-widget-masonry-home-1 .spa-wrap-thumb-add-feature a:hover {
  background-color: #333333;
  color: #ffffff;
}
/* line 59, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_masonry-home-1.scss */
.spa-widget-masonry-home-1 .woocommerce .spa-rated, .spa-widget-masonry-home-1 .woocommerce .star-rating, .spa-widget-masonry-home-1 .entry-item .entry-title a {
  color: #ffffff;
}
/* line 62, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_masonry-home-1.scss */
.spa-widget-masonry-home-1 .woocommerce .spa-rated {
  font-size: 15px;
  line-height: 18px;
}
/* line 66, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_masonry-home-1.scss */
.spa-widget-masonry-home-1 .woocommerce .star-rating {
  font-size: 13px;
}
/* line 69, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_masonry-home-1.scss */
.spa-widget-masonry-home-1 .entry-item .entry-title {
  font-size: 30px;
  line-height: 43px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 74, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_masonry-home-1.scss */
.spa-widget-masonry-home-1 .entry-item .entry-title a:hover {
  color: #333333;
}
/* line 78, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_masonry-home-1.scss */
.spa-widget-masonry-home-1 .woocommerce .price {
  margin-bottom: 0px;
}
/* line 81, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_masonry-home-1.scss */
.spa-widget-masonry-home-1 .woocommerce .price span, .spa-widget-masonry-home-1 .woocommerce .price del {
  color: #333333;
}
/* line 84, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_masonry-home-1.scss */
.spa-widget-masonry-home-1 .woocommerce .price ins span {
  color: #ffffff;
}
/* line 87, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_masonry-home-1.scss */
.spa-widget-masonry-home-1 .widget-content ul {
  margin-left: -0.5px;
  margin-right: -0.5px;
}
