@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Codystar);
@import url(https://fonts.googleapis.com/css?family=Condiment);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300italic,300);
/* line 439, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 445, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::-moz-selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 2, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_new-car-detail.scss */
.spa-widget-only-thumb-right {
  text-align: right;
}

/* line 6, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_new-car-detail.scss */
.spa-widget-car-detail-price .widget-content p {
  font-size: 16px;
  line-height: 25px;
  color: #545454;
  margin-bottom: 25px;
}
/* line 11, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_new-car-detail.scss */
.spa-widget-car-detail-price .widget-content p a {
  text-transform: uppercase;
  font-weight: bold;
}
/* line 15, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_new-car-detail.scss */
.spa-widget-car-detail-price .widget-content p:last-of-type {
  margin-bottom: 37px;
}
/* line 19, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_new-car-detail.scss */
.spa-widget-car-detail-price .spa-line-arow {
  margin-bottom: 25px;
}
/* line 21, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_new-car-detail.scss */
.spa-widget-car-detail-price .spa-line-arow:before {
  width: 5%;
}
/* line 24, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_new-car-detail.scss */
.spa-widget-car-detail-price .spa-line-arow:after {
  width: 95%;
}
/* line 28, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_new-car-detail.scss */
.spa-widget-car-detail-price .price {
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 33, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_new-car-detail.scss */
.spa-widget-car-detail-price .price > .amount {
  color: #ff3e00;
}
/* line 37, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_new-car-detail.scss */
.spa-widget-car-detail-price .spa-list-car-detail {
  margin-bottom: 35px;
}

/* line 42, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_new-car-detail.scss */
.spa-widget-car-detail-color .widget-content p {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 35px;
}
/* line 47, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_new-car-detail.scss */
.spa-widget-car-detail-color .spa-list-text {
  margin-left: 25px;
  margin-bottom: 23px;
}

/* line 54, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_new-car-detail.scss */
.spa-widget-detail-champion p {
  font-size: 16px;
  line-height: 26px;
  color: #dddddd;
  margin-bottom: 45px;
}

/* line 62, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_new-car-detail.scss */
.spa-widget-chosse-product-detail .widget-content p {
  font-size: 16px;
  line-height: 26px;
  color: #545454;
  margin-bottom: 50px;
}

/* line 70, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_new-car-detail.scss */
.white-text-style .spa-widget-car-detail-color p {
  color: rgba(255, 255, 255, 0.8);
}
/* line 73, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_new-car-detail.scss */
.white-text-style .spa-widget-car-detail-color .spa-list-text li {
  color: #ffffff;
}
