@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Codystar);
@import url(https://fonts.googleapis.com/css?family=Condiment);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300italic,300);
/* line 106, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-widget-owl-2-home-1 .entry-item.style-01 .entry-content p span {
  color: #ffc800;
}

/* line 267, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-widget-owl-2-home-1 .owl-theme .owl-controls .owl-pagination {
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

/* line 439, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 445, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::-moz-selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 3, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_owl-2-home-1.scss */
.spa-widget-owl-2-home-1 .entry-item {
  text-align: center;
  background-color: #000000;
  padding-bottom: 0px;
  padding-top: 70px;
}
/* line 8, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_owl-2-home-1.scss */
.spa-widget-owl-2-home-1 .entry-item.style-01 {
  padding-bottom: 350px;
  background-size: cover;
}
/* line 11, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_owl-2-home-1.scss */
.spa-widget-owl-2-home-1 .entry-item.style-01 .entry-content p {
  color: #ffffff;
}
/* line 19, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_owl-2-home-1.scss */
.spa-widget-owl-2-home-1 .owl-carousel .owl-item img {
  width: auto;
  display: inline-block;
}
/* line 23, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_owl-2-home-1.scss */
.spa-widget-owl-2-home-1 .owl-theme .owl-controls {
  margin-top: 0px;
}
/* line 26, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_owl-2-home-1.scss */
.spa-widget-owl-2-home-1 .entry-title {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 10px;
}
/* line 32, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_owl-2-home-1.scss */
.spa-widget-owl-2-home-1 .entry-content > img {
  margin-bottom: 45px;
}
/* line 35, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_owl-2-home-1.scss */
.spa-widget-owl-2-home-1 .entry-content p {
  font-size: 20px;
  line-height: 30px;
  color: #aaaaaa;
  font-style: italic;
}
/* line 43, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_owl-2-home-1.scss */
.spa-widget-owl-2-home-1 .owl-theme .owl-controls .owl-pagination {
  position: absolute;
  height: auto;
  width: 15px;
  top: 50%;
  right: 75px;
}
/* line 51, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_owl-2-home-1.scss */
.spa-widget-owl-2-home-1 .owl-theme .owl-controls .owl-page {
  height: 15px;
  width: 15px;
  background-color: #3a3a3d;
  border-radius: 50%;
  margin: 2.5px 0px;
  display: block;
}
/* line 58, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_owl-2-home-1.scss */
.spa-widget-owl-2-home-1 .owl-theme .owl-controls .owl-page span {
  color: #ffffff;
  font-size: 12px;
  line-height: 15px;
  display: none;
  padding: 0px;
}
/* line 65, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_owl-2-home-1.scss */
.spa-widget-owl-2-home-1 .owl-theme .owl-controls .owl-page.active {
  background: none;
}
/* line 67, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_owl-2-home-1.scss */
.spa-widget-owl-2-home-1 .owl-theme .owl-controls .owl-page.active span {
  display: block;
  background-color: inherit;
  padding: 0px;
  margin: 0px;
}
