@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Codystar);
@import url(https://fonts.googleapis.com/css?family=Condiment);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300italic,300);
/* line 439, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 445, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::-moz-selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 3, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-portfolio .filters-options {
  text-align: left;
  margin-bottom: 45px;
}
/* line 6, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-portfolio .filters-options li {
  padding: 5px 35px;
}
/* line 10, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-portfolio img {
  width: 100%;
}
/* line 13, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-portfolio ul.spa-masonry {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -30px;
}
/* line 17, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-portfolio ul.spa-masonry li {
  margin-top: 30px;
}
@media screen and (max-width: 1160px) {
  /* line 13, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
  .spa-widget-portfolio ul.spa-masonry {
    margin-left: -15.5px;
    margin-right: -15.5px;
  }
}
@media screen and (max-width: 1023px) {
  /* line 13, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
  .spa-widget-portfolio ul.spa-masonry {
    margin-left: -15px;
    margin-right: -15px;
  }
}
/* line 29, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-portfolio .widget-content > p {
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 32px;
}
/* line 34, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-portfolio .widget-header.style-08 {
  margin-bottom: 27px;
}

/* line 40, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-portfolio-single .widget-content p {
  font-size: 16px;
  margin-bottom: 0px;
}
/* line 43, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-portfolio-single .widget-content p strong {
  text-transform: uppercase;
  color: #333333;
}
/* line 47, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-portfolio-single .widget-content p.style-01 {
  margin-bottom: 28px;
}
/* line 52, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-portfolio-single .spa-social-link {
  margin-bottom: 42px;
}
/* line 55, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-portfolio-single .spa-readmore-1 {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 61, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-np-portfolio .entry-thumb {
  width: auto;
  margin-right: 20px;
  max-width: 90px;
  float: left;
}
/* line 67, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-np-portfolio .entry-item {
  padding: 30px;
  background-color: #f4f4f4;
}
/* line 71, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-np-portfolio .entry-item.style-01 .entry-thumb {
  float: right;
  margin-right: 0px;
  margin-left: 20px;
}
/* line 76, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-np-portfolio .entry-item.style-01 .entry-content {
  text-align: right;
}
/* line 81, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-np-portfolio .entry-content {
  overflow: hidden;
}
/* line 83, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-np-portfolio .entry-content p {
  font-size: 16px;
  line-height: 28px;
  color: #909090;
  margin-bottom: 0px;
  text-transform: capitalize;
}
/* line 90, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-np-portfolio .entry-content .entry-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
  text-transform: inherit;
}
@media screen and (max-width: 479px) {
  /* line 100, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
  .spa-widget-np-portfolio .entry-content p {
    font-size: 14px;
    line-height: 20px;
  }
  /* line 104, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
  .spa-widget-np-portfolio .entry-content .entry-title {
    font-size: 18px;
    line-height: 22px;
  }
}

/* line 113, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-portfolio-also-like .widget-content ul {
  margin-top: -30px;
  margin-left: -15px;
  margin-right: -15px;
}
/* line 117, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-portfolio-also-like .widget-content ul li {
  margin-top: 30px;
}
/* line 121, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_portfolio.scss */
.spa-widget-portfolio-also-like .widget-content img {
  width: 100%;
}
