@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Codystar);
@import url(https://fonts.googleapis.com/css?family=Condiment);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300italic,300);
/* line 134, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-widget-product-special-home-2 a.spa-special-call i, .spa-module-location-our .spa-map-link a:hover {
  color: #ffc200;
}

/* line 162, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-module-location-our .span-number, .spa-module-welcome h3 span {
  color: #ff7f00;
}

/* line 439, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 445, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::-moz-selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 3, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-special-home-2.scss */
.spa-widget-product-special-home-2 a.spa-special-call {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 25px;
  color: #333333;
  text-transform: uppercase;
  padding: 12px 0px;
  padding-left: 15px;
  padding-right: 30px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  border: 1px solid #e7e7e7;
}
/* line 16, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-special-home-2.scss */
.spa-widget-product-special-home-2 a.spa-special-call img {
  position: absolute;
  top: -40px;
}
/* line 20, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-special-home-2.scss */
.spa-widget-product-special-home-2 a.spa-special-call span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 49px;
}
/* line 25, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-special-home-2.scss */
.spa-widget-product-special-home-2 a.spa-special-call i {
  font-size: 20px;
  margin-right: 5px;
}
/* line 30, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-special-home-2.scss */
.spa-widget-product-special-home-2 a.spa-special-call:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #ececec;
  top: 0px;
  left: 49.7%;
}
/* line 40, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-special-home-2.scss */
.spa-widget-product-special-home-2 .spa-line {
  border-left: 1px solid #313131;
  padding-left: 55px;
}
/* line 44, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-special-home-2.scss */
.spa-widget-product-special-home-2 .spa-call-me {
  margin-bottom: -25px;
  text-align: center;
}
/* line 48, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-special-home-2.scss */
.spa-widget-product-special-home-2 .row.mh-populor {
  padding-bottom: 23px;
}

/* line 52, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-special-home-2.scss */
.spa-module-location-our {
  text-align: center;
  position: relative;
  padding-top: 5px;
}
/* line 56, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-special-home-2.scss */
.spa-module-location-our .spa-wrap {
  position: absolute;
  top: 65px;
  width: 100%;
  text-align: center;
  left: 0px;
}
/* line 63, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-special-home-2.scss */
.spa-module-location-our span {
  display: block;
}
/* line 66, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-special-home-2.scss */
.spa-module-location-our .span-number {
  font-size: 51px;
  line-height: 51px;
  letter-spacing: -1.5px;
  font-weight: bold;
  margin-bottom: 3px;
}
/* line 73, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-special-home-2.scss */
.spa-module-location-our .span-number span {
  display: inline-block;
  color: #ffffff;
  font-weight: normal;
}
/* line 79, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-special-home-2.scss */
.spa-module-location-our .spa-map-link {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #666666;
}
/* line 84, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-special-home-2.scss */
.spa-module-location-our .spa-map-link a {
  color: #ffffff;
  text-decoration: underline !important;
}

/* line 93, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-special-home-2.scss */
.spa-module-welcome {
  padding-top: 10px;
}
/* line 95, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-special-home-2.scss */
.spa-module-welcome > span {
  font-size: 16px;
  line-height: 25px;
  font-weight: normal;
  color: #727272;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2px;
  display: block;
  margin-bottom: 7px;
}
/* line 106, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-special-home-2.scss */
.spa-module-welcome h3 {
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0.1px;
  margin-bottom: 18px;
}
/* line 115, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-special-home-2.scss */
.spa-module-welcome p {
  font-size: 16px;
  line-height: 24px;
  color: #757575;
}
/* line 119, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-special-home-2.scss */
.spa-module-welcome p span {
  color: #ffffff;
  font-weight: 500;
}

/* line 126, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-special-home-2.scss */
.white-text-style .spa-module-welcome h3 {
  color: #ffffff;
}
