@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Codystar);
@import url(https://fonts.googleapis.com/css?family=Condiment);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300italic,300);
/* line 162, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-widget-product-show-2-home-2 .woocommerce .price > .amount, .spa-widget-product-show-2-home-2 .spa-wrap-thumb-add-feature a:hover {
  color: #ff7f00;
}

/* line 166, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-widget-product-show-2-home-2 .entry-thumb:before {
  background: #ff7f00;
}

/* line 213, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-widget-product-show-2-home-2 .spa-wrap-thumb-add-feature, .spa-widget-product-show-2-home-2 .entry-thumb:before {
  transition: all .3s, visibility 0s;
  -ms-transition: all .3s, visibility 0s;
  -webkit-transition: all .3s, visibility 0s;
  -moz-transition: all .3s, visibility 0s;
}

/* line 439, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 445, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::-moz-selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 3, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-2-home-2.scss */
.spa-widget-product-show-2-home-2 .entry-content {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  left: 0px;
  padding: 0px 20px;
  padding-bottom: 45px;
}
@media screen and (max-width: 1500px) {
  /* line 3, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-2-home-2.scss */
  .spa-widget-product-show-2-home-2 .entry-content {
    padding-bottom: 15px;
  }
}
/* line 15, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-2-home-2.scss */
.spa-widget-product-show-2-home-2 .woocommerce .price {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  margin-bottom: 7px;
}
/* line 21, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-2-home-2.scss */
.spa-widget-product-show-2-home-2 .woocommerce .price > .amount {
  font-size: 14px;
  line-height: 16px;
}
/* line 27, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-2-home-2.scss */
.spa-widget-product-show-2-home-2 .entry-item .entry-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  text-transform: inherit;
}
/* line 33, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-2-home-2.scss */
.spa-widget-product-show-2-home-2 .spa-wrap-thumb-add-feature {
  width: 100%;
  text-align: center;
  opacity: 0;
}
/* line 38, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-2-home-2.scss */
.spa-widget-product-show-2-home-2 .spa-wrap-thumb-add-feature a {
  float: none;
  margin: 0px;
}
/* line 41, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-2-home-2.scss */
.spa-widget-product-show-2-home-2 .spa-wrap-thumb-add-feature a:hover {
  background-color: #ffffff;
}
/* line 47, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-2-home-2.scss */
.spa-widget-product-show-2-home-2 .entry-thumb {
  position: relative;
}
/* line 49, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-2-home-2.scss */
.spa-widget-product-show-2-home-2 .entry-thumb:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0px;
  opacity: 0.95;
}
/* line 60, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-2-home-2.scss */
.spa-widget-product-show-2-home-2 .entry-item:hover .entry-thumb:before {
  width: 100%;
}
/* line 63, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-2-home-2.scss */
.spa-widget-product-show-2-home-2 .entry-item:hover .spa-wrap-thumb-add-feature {
  opacity: 1;
}
/* line 66, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-2-home-2.scss */
.spa-widget-product-show-2-home-2 .entry-item:hover .entry-title a, .spa-widget-product-show-2-home-2 .entry-item:hover .woocommerce .price, .spa-widget-product-show-2-home-2 .entry-item:hover .woocommerce .price > .amount {
  color: #ffffff;
}
/* line 70, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-2-home-2.scss */
.spa-widget-product-show-2-home-2 .spa-wrap-viewmore {
  text-align: center;
  margin-top: 35px;
}
/* line 73, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-2-home-2.scss */
.spa-widget-product-show-2-home-2 .spa-wrap-viewmore p {
  font-size: 16px;
  line-height: 25px;
  color: #545454;
  margin-bottom: 35px;
}
