@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Codystar);
@import url(https://fonts.googleapis.com/css?family=Condiment);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300italic,300);
/* line 110, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-widget-2col-home-2 .spa-wrap-owl-1 .entry-item:hover .woocommerce .price ins span, .spa-widget-2col-home-2 .spa-wrap-owl-2 .entry-item:hover .woocommerce .price ins span {
  background: #ffc800;
}

/* line 439, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 445, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::-moz-selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 3, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-home-2.scss */
.spa-widget-2col-home-2 .spa-wrap-owl-1 {
  margin: 0px -15px;
  margin-top: -30px;
}
/* line 6, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-home-2.scss */
.spa-widget-2col-home-2 .spa-wrap-owl-1 .entry-content {
  padding: 0px 25px;
  padding-top: 25px;
}
/* line 10, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-home-2.scss */
.spa-widget-2col-home-2 .spa-wrap-owl-1 .entry-item .spa-wrap-line:before {
  left: -25px;
}
/* line 13, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-home-2.scss */
.spa-widget-2col-home-2 .spa-wrap-owl-1 .entry-item {
  background-color: #ffffff;
  display: block;
  margin-top: 30px;
}
/* line 17, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-home-2.scss */
.spa-widget-2col-home-2 .spa-wrap-owl-1 .entry-item:hover {
  -webkit-box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.5);
}
/* line 26, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-home-2.scss */
.spa-widget-2col-home-2 .spa-wrap-owl-1 .spa-wrap-icon-content {
  margin: 0px -25px;
}
/* line 29, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-home-2.scss */
.spa-widget-2col-home-2 .spa-wrap-owl-1 .item {
  padding: 0px 15px;
}
/* line 32, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-home-2.scss */
.spa-widget-2col-home-2 .spa-wrap-owl-1 .entry-title {
  margin-bottom: 30px;
}
/* line 35, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-home-2.scss */
.spa-widget-2col-home-2 .spa-wrap-owl-1 .woocommerce .price {
  margin-bottom: 30px;
}
/* line 39, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-home-2.scss */
.spa-widget-2col-home-2 .spa-wrap-owl-2 {
  margin-top: -30px;
}
/* line 41, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-home-2.scss */
.spa-widget-2col-home-2 .spa-wrap-owl-2 .entry-item {
  background-color: #ffffff;
  display: block;
  margin-top: 30px;
}
/* line 45, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-home-2.scss */
.spa-widget-2col-home-2 .spa-wrap-owl-2 .entry-item:hover {
  -webkit-box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.5);
}
/* line 54, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-home-2.scss */
.spa-widget-2col-home-2 .spa-wrap-owl-2 .entry-thumb {
  width: auto;
  float: left;
}
/* line 58, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-home-2.scss */
.spa-widget-2col-home-2 .spa-wrap-owl-2 .entry-content {
  overflow: hidden;
  padding: 20px 30px 0px 30px;
}
/* line 62, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-home-2.scss */
.spa-widget-2col-home-2 .spa-wrap-owl-2 .spa-wrap-icon-content {
  margin: 0px -30px;
}
/* line 65, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-home-2.scss */
.spa-widget-2col-home-2 .spa-wrap-owl-2 .woocommerce .price {
  margin-bottom: 20px;
}
/* line 68, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-home-2.scss */
.spa-widget-2col-home-2 .spa-wrap-owl-2 .spa-wrap-icon-content a {
  padding: 2px 0px;
}
/* line 71, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-home-2.scss */
.spa-widget-2col-home-2 .spa-wrap-owl-2 .entry-title {
  margin-bottom: 13px;
}
/* line 74, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-home-2.scss */
.spa-widget-2col-home-2 .spa-wrap-owl-2 .entry-item .spa-wrap-line:before {
  left: auto;
  right: -30px;
}
/* line 79, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_product-show-home-2.scss */
.spa-widget-2col-home-2 .owl-theme .owl-controls {
  margin-top: 36px;
}
