@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Codystar);
@import url(https://fonts.googleapis.com/css?family=Condiment);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300italic,300);
/* line 439, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 445, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::-moz-selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 2, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_thumb-bg-home-1.scss */
.spa-widget-thumb-bg-home-1 {
  position: relative;
}
/* line 4, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_thumb-bg-home-1.scss */
.spa-widget-thumb-bg-home-1 .widget-header {
  position: absolute;
  z-index: 9;
  top: 125px;
  left: 0px;
  width: 100%;
}
/* line 11, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_thumb-bg-home-1.scss */
.spa-widget-thumb-bg-home-1 .sub-title {
  display: block;
  text-align: center;
}
/* line 15, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_thumb-bg-home-1.scss */
.spa-widget-thumb-bg-home-1 .spa-btt-hastar {
  margin-top: 45px;
}
/* line 18, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_thumb-bg-home-1.scss */
.spa-widget-thumb-bg-home-1 p {
  padding-left: 30px;
  padding-right: 30px;
}

/* line 23, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_thumb-bg-home-1.scss */
.spa-widget-accordion-hone-1 {
  padding-bottom: 50px;
  padding-top: 105px;
  padding-left: 75px;
  padding-right: 375px;
}

/* line 30, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_thumb-bg-home-1.scss */
.spa-widget-thumb-bg-home-1.style-02 .widget-header {
  top: 137px;
}
/* line 32, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_thumb-bg-home-1.scss */
.spa-widget-thumb-bg-home-1.style-02 .widget-header img {
  margin-bottom: 20px;
}

@media screen and (max-width: 1500px) {
  /* line 38, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_thumb-bg-home-1.scss */
  .spa-widget-accordion-hone-1 {
    padding: 50px 50px;
    padding-bottom: 50px;
  }

  /* line 42, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_thumb-bg-home-1.scss */
  .spa-widget-thumb-bg-home-1 .spa-btt-hastar {
    margin-top: 0px;
  }

  /* line 46, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_thumb-bg-home-1.scss */
  .spa-widget-thumb-bg-home-1.style-01 .widget-header {
    top: 90px;
  }

  /* line 51, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_thumb-bg-home-1.scss */
  .spa-widget-thumb-bg-home-1.style-02 .widget-header {
    top: 90px;
  }
}
