@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Codystar);
@import url(https://fonts.googleapis.com/css?family=Condiment);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300italic,300);
/* line 106, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-send-mesasge button i, .spa-module-img-bg .entry-item .entry-title span {
  color: #ffc800;
}

/* line 110, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-module-price .price .amount, .spa-module-price .price .amount span {
  background: #ffc800;
}

/* line 260, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
.spa-module-img-bg .spa-button-sell-car {
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

/* line 439, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 445, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass/_style-sass.scss */
::-moz-selection {
  background: #ffc800;
  color: #ffffff;
  text-shadow: none;
}

/* line 3, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product .spa-wrap-slider {
  margin-bottom: 30px;
}
/* line 6, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product .spa-meta-data-single {
  padding: 5px 0px;
  margin: 0px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 30px;
}
/* line 12, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product .spa-meta-data-single li {
  padding: 0px;
  padding-right: 29px;
}
/* line 15, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product .spa-meta-data-single li:last-of-type {
  padding-right: 0px;
}
/* line 18, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product .spa-meta-data-single li:before {
  display: none;
}
/* line 22, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product .spa-meta-data-single li a {
  font-size: 11px;
  line-height: 13px;
  color: #999999;
}
/* line 28, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product table {
  width: 100%;
  border: 1px solid #dddddd;
  margin-bottom: 45px;
}
/* line 32, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product table td {
  font-size: 12px;
  text-transform: uppercase;
  color: #333333;
  border-top: 1px solid #dddddd;
  padding: 5px 25px;
}
/* line 38, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product table td i {
  font-size: 12px;
  color: #a1a1a1;
  margin-right: 5px;
}
/* line 43, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product table td:first-of-type {
  color: #a1a1a1;
  border-right: 1px solid #dddddd;
}
/* line 49, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
/* line 53, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product p:last-of-type {
  margin-bottom: 0px;
}
/* line 57, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product ul {
  margin: 0px;
  padding: 0px;
  margin-top: 0px !important;
}
/* line 61, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product ul li {
  margin: 0px;
  padding-right: 30px;
}
/* line 64, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product ul li:last-of-type {
  padding-right: 0px;
}
/* line 69, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product .spa-wrap-follow-pagginator {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin-top: 75px;
  position: relative;
}
/* line 74, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product .spa-wrap-follow-pagginator i {
  font-size: 18px;
  color: #999999;
  padding: 0px 10px;
  padding-right: 7px;
}
/* line 80, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product .spa-wrap-follow-pagginator span {
  font-size: 18px;
  color: #333333;
  display: inline-block;
  font-weight: bold;
  padding: 4px 10px;
  border-left: 1px solid #dddddd;
}
/* line 90, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product .spa-pagintor-1 .nav-links {
  text-align: right;
  line-height: 0px;
}
/* line 93, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product .spa-pagintor-1 .nav-links a {
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 9px;
}
/* line 97, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product .spa-pagintor-1 .nav-links a:first-of-type {
  border-right: 1px solid #dddddd;
}
/* line 101, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.single-detail-product .spa-pagintor-1 .nav-links i {
  font-size: 12px;
}

/* line 107, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.spa-module-price {
  text-align: right;
  font-size: 11px;
  line-height: 12px;
  text-transform: uppercase;
  color: #999999;
}
/* line 113, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.spa-module-price .price {
  margin-bottom: 10px !important;
}
/* line 115, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.spa-module-price .price .amount {
  padding-left: 0px;
  padding-right: 27px;
  padding-top: 0px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.1px;
  padding-bottom: 0px;
}
/* line 124, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.spa-module-price .price .amount span {
  padding: 0px 15px;
  border-right: 1px solid #ffffff;
  margin-right: 27px;
  display: inline-block;
  line-height: 54px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.1px;
}

/* line 139, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.spa-module-send-message h5 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.25px;
}

/* line 147, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.spa-send-mesasge textarea {
  width: 100%;
  border: 1px solid #e1e1e1;
  font-size: 11px;
  line-height: 12px;
  color: #999999;
  height: 155px;
  padding: 15px 20px;
  display: block;
}
/* line 157, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.spa-send-mesasge button {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  color: #333333;
  border: 1px solid #e1e1e1;
  margin-top: -1px;
  background-color: #f8f8f8;
  display: block;
  width: 100%;
  text-align: center;
  padding: 13px 20px;
}
/* line 170, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.spa-send-mesasge button i {
  font-size: 14px;
  margin-right: 5px;
}

/* line 178, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.spa-module-img-bg .entry-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
  padding-top: 40px;
}
/* line 187, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.spa-module-img-bg .entry-item .entry-title {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0.25px;
  color: #ffffff;
  margin-bottom: 15px;
}
/* line 194, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.spa-module-img-bg .entry-item .entry-title a {
  color: #ffffff;
}
/* line 201, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.spa-module-img-bg p {
  font-size: 15px;
  line-height: 16px;
  font-style: italic;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
}
/* line 209, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.spa-module-img-bg .spa-button-sell-car {
  position: absolute;
  bottom: 27px;
  display: inline-table;
  left: 50%;
}

/* line 218, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.spa-sidebar-car-detail div[class^=spa-module] {
  margin-bottom: 30px;
}

/* line 222, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.spa-wrap-slider {
  position: relative;
}
/* line 225, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.spa-wrap-slider .sp-selected-thumbnail:before, .spa-wrap-slider .sp-selected-thumbnail:after {
  display: none;
}
/* line 229, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.spa-wrap-slider .sp-right-thumbnails .sp-thumbnail-container {
  margin-top: 7px;
  margin-bottom: 7px;
}
/* line 233, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.spa-wrap-slider .sp-image-container {
  padding-right: 10px;
}
/* line 236, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.spa-wrap-slider .spa-wrap-slide-arow {
  position: absolute;
  bottom: 0px;
  right: -1px;
}
/* line 240, /home/vladimir/RubymineProjects/P6/app/assets/stylesheets/sass-module/_user-car-detail.scss */
.spa-wrap-slider .spa-wrap-slide-arow span {
  width: 84px;
}
