<% provide(:title, 'Projekty') %>

<%= content_for :page_title do %>
  <h3 class="spa-breakrum-title">Projekty</h3>

  <div id="content">
    <div class="rotate" style="display:none;">
      <%= image_tag('projects.jpg', class: 'rest-image') %>
    </div>
  </div>
<% end %>

<section class="spa-area spa-area-17">
  <div class="container">
    <div class="row" style="margin-bottom: 20px;">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'photoswipe' %>
        <%= render partial: 'project', collection: @projects %>
      </div>
    </div>
  </div>
</section>
