<% provide(:title, 'Projekty') %>

<%= content_for :page_title do %>
  <section class="spa-area spa-area-11">
    <h3 class="spa-breakrum-title">Projekty</h3>
  </section>
<% end %>

<section class="spa-area spa-area-17">
  <div class="container">
    <div class="row" style="margin-bottom: 20px;">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'photoswipe' %>
        <%= render partial: 'project', collection: @projects %>
      </div>
    </div>
  </div>
</section>
