<div id="content">

  <div id="rotate" style="display:none;">
    <% @project.resources.each do |r| %>
        <%= image_tag(r.image.url(:small)) %>
        <p></p>

        <p><%= r.title %></p>
        <p><%= r.description %></p>
    <% end %>
  </div>


  <script type="text/javascript">$(document).on('page:load', ready)(function () {
    $('#rotate').css('display', 'block');
    $('#rotate').cycle({fx: 'fade', timeout: 1000, after: onAfter, speed: 3000});
  });
  function onAfter(curr, next, opts, fwd) {
    var $ht = $(this).height();
    $(this).parent().animate({height: $ht});
  }
  </script>
</div>

