<% provide(:title, "Projekt: " + @project.title) %>

<section class="spa-area spa-area-17">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="widget spa-widget-portfolio">
          <div class="widget-header style-08">
            <span class="sub-title style-03">WizzART </span>
            <h3 class="widget-title style-05"> Opis projektu </h3>
          </div>
          <div class="widget-content">
            <p><%= @project.description %></p>
            <ul class="row spa-masonry">
              <% @project.resources.each do |r| %>
                  <li class="spa-item col-md-6 col-sm-6 col-xs-6" >
                    <%= link_to(image_tag(r.image.url), r.image.url, :target => "_blank") %>
                    <p><%= r.description %></p>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

