<div id="content">
  <div id="rotate" style="display:none;">
    <% @project.resources.each do |r| %>
        <%= image_tag r.image.url(:small) %>
    <% end %>
  </div>

  <script type="text/javascript">$(document).ready(function () {
    $('#rotate').css('display', 'block');
    $('#rotate').cycle({fx: 'fade', timeout: 1000, after: onAfter, speed: 3000});
  });
  function onAfter(curr, next, opts, fwd) {
    var $ht = $(this).height();
    $(this).parent().animate({height: $ht});
  }
  </script>
</div>

<script type="text/javascript">
  $('.thumbtree').hover(function () {
        $('> .caption2', this).animate({bottom: '0px'}, 200);
      },
      function () {
        $('> .caption2', this).animate({bottom: '-40px'}, 200);
      });
</script>
