@import 'sass/_style-sass.scss';
.spa-widget-info-need{
	p,span{
		font-size: 16px;
		line-height: 25px;
		color: $cl-039;
	}
	p{
		margin-bottom: 25px;
		&:last-of-type{
			margin-bottom: 105px;
		}
	}
	.widget-content >span{
		font-family: $font-secondary;
		display: block;
		span{
			color: $color-primary;
			font-weight: 500;
			text-transform: uppercase;
		}
	}
	img{
		float: right;
		margin-top: -55px;
	}
}
.spa-widget-about-post{
	.widget-content >.row{
	}
	.owl-item{
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 0px;
	}
	.entry-sub-title{
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 2px;
		color: $color-primary;
		text-transform: uppercase;
		display: block;
		margin-bottom: 10px;
	}
	.entry-title{
		font-size: 20px;
		line-height: 22px;
		font-weight: bold;
	}
	.entry-item .spa-wrap-line{
		padding-left: 25px;
		padding-top: 5px;
		padding-bottom: 3px; 
		.entry-title{
			margin-bottom: 0px;
		}
		margin-bottom: 25px;
	}
	.entry-item .spa-wrap-line:before{
		height: 100%;
		width: 4px;
		@extend %main_bg_color;
		opacity: 0.95;
		left: 0px;
		top: 0px;
	}
	.entry-content{
		padding-top: 40px;
	}
}
.spa-widget-about-gallery{
	img{
		width: 100%;
	}
	ul{
		margin-top: -5px;
	}
	li[class^=col]{
		padding-top: 5px;
	}
}
.spa-widget-our-team{
	.entry-thumb{
		text-align: center;
	}
	.entry-thumb img{
		width: auto;
	}
	.item{
		padding-left: 15px;
		padding-right: 15px;
	}
	.entry-item{
		position: relative;
		overflow: hidden;
		&:hover{
			.entry-content{
				left: 0px;
			}
		}
	}
	.entry-content{
		position: absolute;
		top: 160px; 
		left: 100%;
		width: 100%;
		background-color: $color-primary;
		border-left-width: 4px;
		border-left-style: solid;
		@extend %main_bdl_color;
		padding: 15px 17px;
		@extend %transition;
	}
	.entry-title{
		color: $cl-001;
		line-height: 22px;
		font-weight: bold;
		margin-bottom: 0px;
		a{
			color: $cl-001;
			&:hover{
				@extend %main_color;
			}
		}
	}
	.item-sub-title{
		font-size: 12px;
		line-height: 14px;
		text-transform: uppercase;
		color: $cl-001;
	}
}