@import 'sass/_style-sass.scss';
.spa-widget-owl-blog-1{
	.entry-thumb{
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		overflow: hidden;
		z-index: 99;
	}
	.entry-item{
		padding: 0px 15px;
		z-index: 2;
		position: relative;
	}
	.entry-content{
		text-align: center;
		padding: 20px 20px 0px 20px;
		overflow: hidden;
	}
	.entry-title{
		font-size: 18px;
		line-height: 32px;
		font-weight: bold;
		margin-bottom: 0px;
	}
	.spa-meta-data{
		font-size: 11px;
		line-height: 20px;
	}
	.spa-wrap-meta-comment{
		position: absolute;
		width: 100.1%;
		bottom: 0px;
		left: 0px;
		z-index: 9;
		overflow: hidden;
		@extend %transition;
		height: auto;
		position: 0px !important;
	}
	.spa-owl-effect,.spa-owl-effect-last{
		.entry-content{
			height: 0px;
			width: 0px;
		}
		.spa-wrap-meta-comment{
			width: 0px;
		}
	}
	.owl-controls{
		position:absolute;
		margin: 0px auto;
		width: 100%;
		text-align: center;
		bottom: 60px;
		height: 0px;
		.owl-buttons{
			height: 0px;
			width: 1170px;
			display: inline-block;
			@extend %clearfix;
			.owl-prev{
				float: left;
			}
			.owl-next{
				float: right;
			}
		}
	}
}
.spa-widget-owl-blog-2{
	@extend .spa-widget-owl-blog-1;
}
.spa-widget-post-blog{
	background: $cl-001;
	padding: 80px 100px 0px 100px;
	.spa-wrap-meta-comment{
		text-align: center;
		>ul{
			float: left;
		}
	}
	.spa-meta-data{
		font-size: 11px;
		line-height: 20px;
		padding-top: 5px;
		display: inline-block;
	}
	.entry-content{
		text-align: center;
		padding-top: 53px;
		p{
			margin-bottom: 33px;
		}
	}
	.entry-title{
		font-size: 30px;
		line-height: 36px;
		font-weight: bold;
	}
	p{
		letter-spacing: 0.3px;
	}
	.spa-line-arow{
		margin-bottom: 10px;
	}
	.widget-content .entry-item{
		margin-top: 93px;
		&:first-of-type{
			margin-top: 0px;
		}
		@media screen and (max-width: 1160px) {
			margin-top: 50px;
			&:first-of-type{
				margin-top: 0px;
			}
		}
		@media screen and (max-width: 768px) {
			margin-top: 30px;
			&:first-of-type{
				margin-top: 0px;
			}
		}
	}
	.pagination{
		margin: 0px -100px;
		margin-top: 93px;
		border-top: 1px solid $cl-010;
		padding: 0px 100px;
		padding-top: 33px;
		padding-bottom: 23px;
	}
}
.spa-widget-post-blog.style-01{
	padding: 0px;
	background: none;
	.widget-content >.row{
		margin-top: -30px;
	}
	.widget-content .entry-item{
		background: $cl-001;
		margin-top: 30px;
	}
	.entry-content{
		padding: 14px 35px;
		padding-top: 40px;
		text-align: left;
		p{
			margin-bottom: 43px;
		}
	}
	.spa-wrap{
		@extend %clearfix;
		.spa-meta-data{
			padding-top: 0px;
		}
		.spa-wrap-share{
			float: right;
		}
	}
	.entry-title{
		font-size: 18px;
		line-height: 32px;
	}
	.spa-line-arow{
		margin-bottom: 3px;
	}
	.spa-wrap-meta-comment{
		background: $cl-016;
	}
	.spa-blockquote-blog p{
		letter-spacing: 0px;
	}
	.spa-big-item{
		text-align: center;
		.entry-content{
			text-align: center;
			padding-top: 30px;
			padding-bottom: 20px;
			p{
				margin-bottom: 25px;
			}
			.spa-line-arow{
				margin-bottom: 8px;
			}
		}
		.entry-title{
			padding-top: 30px;
			margin-bottom: 23px;
		}
	}
	.spa-wrap-meta-comment li{
		    border-right: 1px solid $cl-010;
	}
	.pagination{
		margin: 0px;
		padding: 0px;
		border: 0px;
		margin-top: 35px;
		.spa-prev,.spa-next{
			display: none;
		}
		.page-numbers{
			text-align: right;
			color: $cl-044;
			&.current{
				@extend %main_color_2;
			}
		}
		a.page-numbers{
			&:hover{
				color: $color-primary;
			}
		}
	}
}
.spa-sidebar{
	>.widget{
		background: $cl-001;
		margin-bottom: 30px;
		&:last-of-type{
			margin-bottom: 0px;
		}
	}
	.widget-header{
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 17px;
	}
}
.spa-widget-follow-sidebar{
	a{
		display: block;
		margin-bottom: 8px;
		background: $cl-041;
		i{
			height: 50px;
			width: 50px;
			text-align: center;
			color: $cl-001;
			line-height: 50px;
			font-size: 20px;
			background: #e5481b;
			margin-right: 20px;
		}
		span{
			font-size: 20px;
			font-weight: bold;
			span{
				font-weight: normal;
				font-size: 13px;
				color: $cl-024;
			}
		}
		&:nth-child(2n){
			i{
				background: #00bfff;
			}
		}
		&:nth-child(3n){
			i{
				background: #007fff;
			}
		}
	}
	.widget-content{
		padding: 0px 20px;
		padding-bottom: 22px;
	}
}
.spa-widget-post-sidebar{
	.entry-thumb{
		margin-bottom: 20px;
	}
	.entry-title{
		font-size: 15px;
		line-height: 20px;
		text-transform: inherit;
		margin-bottom: 0px;
	}
	.spa-category{
		margin-bottom: 22px;
		display: inline-block;
	}
	.entry-item{
		padding: 0px 20px;
		border-bottom: 1px solid $cl-016;
		padding-bottom: 25px;
		&:first-of-type{
			.entry-title{
				font-size: 18px;
				line-height: 24px;
			}
		}
	}
	.widget-content > article{
		margin-top: 22px;
		&:first-of-type{
			margin-top: 0px;
		}
	}
	.spa-more{
		display: block;
		text-align: center;
		padding: 13px 0px;
	}
}
.spa-widget-instagram{
	.widget-content{
		padding: 0px 20px;
		padding-bottom: 15px;
		ul{
			margin-top: -15px;
			li{
				margin-top: 15px;
			}
		}
	}
	img{
		width: 100%;
	}
	
}
.spa-widget-author{
	.entry-item{
		padding: 0px 20px;
		padding-bottom: 30px;
	}
	.entry-content{
		text-align: center;
		p{
			font-size: 13px;
			line-height: 20px;
			margin-bottom: 30px;
		}
		>a{
			font-size: 10px;
			line-height: 12px;
			color: $cl-005;
			text-transform: uppercase;
			display: inherit;
		}
	}
	.entry-title{
		font-size: 15px;
		line-height: 18px;
		margin-bottom: 12px;
		span{
			@extend %main_color_2;
		}
	}
	.entry-thumb{
		margin-bottom: 25px;
	}
	.spa-signature{
		display: block;
		text-align: center;
		font-size: 25px;
		line-height: 25px;
		text-transform: capitalize;
		color: $cl-015;
		font-family: $font-four;
	}
}
//default widget sidebar
.widget_categories{
	ul{
		padding: 0px 20px;
		padding-bottom: 5px;
	}
	li{
		@extend %clearfix;
		text-align: right;
		font-size: 12px;
		line-height: 20px;
		@extend %main_color_2;
		padding: 9px 0px;
		border-top: 1px solid $cl-016; 
	}
	a{
		font-size: 12px;
		line-height: 20px;
		text-transform: uppercase;
		color: $cl-045;
		float: left;
		&:hover{
			color: $color-primary;
		}
	}
}
.spa-widget-search-blog{
	.widget-content .row{
		margin-top: -30px;
	}
	.spa-wrap-result-and-grid{
		margin-bottom: 40px;
	}
	.entry-title{
		font-weight: bold;
	}
	.entry-thumb{
		margin-bottom: 20px;
	}
	.entry-item{
		background-color: $cl-001;
		margin-top: 30px;
	}
	.entry-content{
		padding: 0px 20px 25px 20px;
	}
	.entry-item p{
		font-size: 18px;
		line-height: 28px;
	}
	.spa-list{
		width: 100%;
		.entry-item{
			background-color: inherit;
		}
		.entry-thumb{
			width: auto;
			margin-bottom: 0px;
			float: left;
			margin-right: 30px;
			max-width: 150px;
		}
		.entry-content{
			padding: 0px;
			margin-top: -8px;
			.entry-title{
				margin-bottom: 7px;
			}
		}
	}
}