@import 'sass/_style-sass.scss';
.bottom-sidebar{
	.widget{
		margin-bottom: 130px;
	}
	.widget-title{
		margin-bottom: 50px;
	}
}
.bottom-sidebar.style-01{
	background-image: url("img/background/3.jpg");
	background-size: cover;
	.white-text-style .widget-title{
		@extend %main_color_1;
	}
	.custom-row-bottom{
		margin-top: -45px;
		.widget{
			margin-bottom: 110px;
		}
	}
}
.bottom-sidebar.style-02{
	padding-top: 30px;
	.widget-title{
		margin-bottom: 25px;
	}
	.widget{
		margin-bottom: 75px;
	}
}
.spa-widget-owl-3-home-1{
	@extend %main_bg_color_1;
	.spa-icon{
		display: inline-block;
		color: $cl-001;
		width: 70px;
		height: 90px;
		position: relative;
		text-align: center;
		background: rgba(0,0,0,0.1);
		i{
			font-size: 33px;
			line-height: 90px;
			padding-left: 20px;
		}
		&:after{
			content: "";
		    position: absolute;
		    height: 0px;
		    width: 0px;
		    border-bottom-width: 90px;
		    border-bottom-style: solid;
		    border-bottom-color: transparent;
		    border-top-width: 0px;
		    border-top-style: solid;
		    border-top-color: transparent;
		    border-left-width: 75px;
		    border-left-style: solid;
		    border-left-color: rgba(0,0,0,0.1);
		    top: 0px;
		    left: 70px;
		}
	}
	.entry-item{
		padding-top: 20px;
		>a{
			display: block;
			color: rgba(255,255,255,0.8);
			text-transform: uppercase;
			font-size: 11px;
			line-height: 16px;
			&:hover{
				color: $cl-001;
			}
		}
		>p{
			font-size: 18px;
			line-height: 27px;
			color: $cl-001;
			margin-bottom: 3px;
			>a{
				font-size: 18px;
				line-height: 27px;
				color: $cl-001;
				text-decoration: underline !important;
				&:hover{
					color: $color-primary;
				}
			}
		}
	}
	.owl-controls{
		position: absolute;
		margin-top: 0px;
		top: 30px;
		right: 25px;
	}
	.owl-carousel.owl-loaded{
		padding-right: 100px;
	}
	.owl-theme .owl-controls .owl-nav div{
		background: rgba(0,0,0,0.2);
		&:hover{
			background: rgba(0,0,0,1);
			.owl-theme .owl-controls .owl-nav div:after{
				border-right-color: rgba(0,0,0,1);
				border-left-color: rgba(0,0,0,1);
			}
		}
	}
	.owl-theme .owl-controls .owl-nav div:after{
		border-right-color: rgba(0,0,0,0.2);
	}
	.owl-theme .owl-controls .owl-nav div:after{
		border-left-color: rgba(0,0,0,0.2);
	}
	.owl-theme .owl-controls .owl-nav div.owl-next:hover:after{
		border-left-color: rgba(0,0,0,1);
	}
	.owl-theme .owl-controls .owl-nav div.owl-prev:hover:after{
		border-right-color: rgba(0,0,0,1);
	}
	.owl-theme .owl-controls .owl-buttons div{
		background-color: rgba(0,0,0,0.1);
	}
	.owl-theme .owl-controls .owl-buttons div::after{
		border-right-color: rgba(0,0,0,0.1);
	}
	.owl-theme .owl-controls .owl-buttons div.owl-next::after{
		border-left-color: rgba(0,0,0,0.1);
	}
	.owl-theme .owl-controls .owl-buttons div::before{
		@extend %main_color;
	}
	.owl-theme .owl-controls .owl-buttons div.owl-prev,.owl-theme .owl-controls .owl-buttons div.owl-next{
		&:hover{
			background-color: $cl-001;
			&:before,&:after{
				border-right-color: $cl-001;
				border-left-color: $cl-001;
			}
		}
	}
	&.style-01{
		.owl-theme .owl-controls .owl-buttons div{
			background-color: $cl-001;
		}
		.owl-theme .owl-controls .owl-buttons div::after{
			border-right-color: $cl-001;
		}
		.owl-theme .owl-controls .owl-buttons div.owl-next::after{
			border-left-color: $cl-001;
		}
	}
}
.spa-widget-text-logo{
	.spa-logo-bottom{
		margin-bottom: 30px;
	}
	p{
		font-size: 15px;
		line-height: 24px;
		color: $cl-028;
		&:last-of-type{
			margin-bottom: 30px;
		}
		span{
			font-weight: 500;
		}
	}
	h3{
		font-size: 14px;
		line-height: 25px;
		margin-bottom: 10px;
	}
	.spa-wrap{
		p{
			line-height: 21px;
			margin: 0px;
		}
	}
}
.widget_nav_menu{
	a{
		font-size: 15px;
		line-height: 30px;
		color: $cl-017;
		font-size: 15px;
		line-height: 30px;
		font-family: $font-secondary;
		&:before{
			@extend %fa;
			margin-right: 10px;
		}
		&:hover{
			@extend %main_color;

		}
	}
}
.spa-widget-contact-bottom{
	a{
		color: $cl-028;
		font-family: $font-secondary;
		font-size: 15px;
		line-height: 24px;
		display: block;
		padding-left: 35px;
		position: relative;
		margin-bottom: 5px;
		&:first-of-type{
			margin-bottom: 13px;
		}
		&:last-of-type{
			margin-bottom: 0px;
		}
		&:hover{
			@extend %main_color;
		}
		i{
			font-size: 16px;
			position: absolute;
			top: 3px;
			left: 0px;
		}
	}
}
.spa-widget-install{
	padding: 0px 15px;
	ul{
		@extend %clearfix;
		margin-top: -10px;
	}
	ul li{
		display: inline-block;
		float: left;
		padding: 0px 5px;
		margin-top: 10px;
	}
	@media screen and (max-width: 1500px) {
		padding: 0px 100px;
		
	}
	@media screen and (max-width: 1160px) {
		padding: 0px 50px;
		
	}
}
.white-text-style{
	.spa-widget-text-logo p span,.spa-widget-text-logo h3,.widget_nav_menu a:hover,.spa-widget-contact-bottom a:hover{
		color: $cl-001;
	}
}