.spa-select-and-breadcrumd{
	border-bottom: 1px solid $cl-010;
	&:before{
		content: "";
	    position: absolute;
	    bottom: -10px;
	    left: 50%;
	    margin-left: -7px;
	    height: 0px;
	    width: 0px;
	    border-left: 7px solid transparent;
	    border-right: 7px solid transparent;
	    border-top: 10px solid $cl-016;
	    z-index: 3;
	}
	&:after{
		content: "";
	    position: absolute;
	    bottom: -9px;
	    left: 50%;
	    margin-left: -6px;
	    height: 0px;
	    width: 0px;
	    border-left: 6px solid transparent;
	    border-right: 6px solid transparent;
	    border-top: 9px solid $cl-001;
	    z-index: 4;
	}
	select{
		margin-left: 12px;
	}
	.spa-module-sortbyte{
		text-align: right;
		padding-top: 15px;
	}
	.spa-module-breacrumb{
		border-bottom: 0px;
		&:before,&:after{
			display: none;
		}
	}
	.spa-get-result{
		margin-top: 12px;
	}
}
.spa-widget-map{
	.kopa-map{
		height: 460px;
	}
}
.white-text-style{
	.widget-header.style-09:before{
		background-color: $cl-001;
	}
	.spa-contact-form input,.spa-contact-form textarea{
		border: 0px;
	}
}
.spa-widget-contact-form{
	.widget-header .sub-title.style-03{
		letter-spacing: 3px;
	}
}