.spa-hexangon {
  position: relative;
  width: 65px; 
  height: 37.53px;
  background-color: $cl-011;
  margin: 18.76px 0;
  border-left: solid 1px $cl-062;
  border-right: solid 1px $cl-062;
}

.spa-hexangon:before,
.spa-hexangon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 45.96px;
  height: 45.96px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 8.5190px;
}

.spa-hexangon:before {
  top: -22.9810px;
  border-top: solid 1.4142px $cl-062;
  border-right: solid 1.4142px $cl-062;
}

.spa-hexangon:after {
  bottom: -22.9810px;
  border-bottom: solid 1.4142px $cl-062;
  border-left: solid 1.4142px $cl-062;
}
.spa-hexangon.style-01{
  background-color: $cl-001;
}