@import 'sass/_style-sass.scss';
.spa-widget-2col-home-2{
	.spa-wrap-owl-1{
		margin: 0px -15px;
		margin-top: -30px;
		.entry-content{
			padding: 0px 25px;
			padding-top: 25px;
		}
		.entry-item .spa-wrap-line:before{
			left: -25px;
		}
		.entry-item{
			background-color: $cl-001;
			display: block;
			margin-top: 30px;
			&:hover{
				-webkit-box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.5);
			    -moz-box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.5);
			    box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.5);
			    .woocommerce .price ins span{
			    	@extend %main_bg_color;
			    }
			}
		}
		.spa-wrap-icon-content{
			margin: 0px -25px;
		}
		.item{
			padding: 0px 15px;
		}
		.entry-title{
			margin-bottom: 30px;
		}
		.woocommerce .price{
			margin-bottom: 30px;
		}
	}
	.spa-wrap-owl-2{
		margin-top: -30px;
		.entry-item{
			background-color: $cl-001;
			display: block;
			margin-top: 30px;
			&:hover{
				-webkit-box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.5);
			    -moz-box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.5);
			    box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.5);
			    .woocommerce .price ins span{
			    	@extend %main_bg_color;
			    }
			}
		}
		.entry-thumb{
			width: auto;
			float: left;
		}
		.entry-content{
			overflow: hidden;
			padding: 20px 30px 0px 30px;
		}
		.spa-wrap-icon-content{
			margin: 0px -30px;
		}
		.woocommerce .price{
			margin-bottom: 20px;
		}
		.spa-wrap-icon-content a{
			padding: 2px 0px;
		}
		.entry-title{
			margin-bottom: 13px;
		}
		.entry-item .spa-wrap-line:before{
			left: auto;
			right: -30px;
		}
	}
	.owl-theme .owl-controls{
		margin-top: 36px;
	}
}