@import "bootstrap-sprockets";
@import "bootstrap";
@import 'sass/_style-sass.scss';
.spa-widget-slide{
	height: 930px;
	background-color: $color-secondary;
}
.spa-owl-slider{
	.owl-controls{
		.owl-pagination{
			position: absolute;
			height: auto;
			width: 15px;
			top: 50%;
			right: 75px;
			@extend %centerY;
		}
		.owl-page{
			height: 15px;
			width: 15px;
			background-color: $cl-025;
			border-radius: 50%;
			margin: 2.5px 0px;
			display: block;
			span{
				color: $cl-001;
				font-size: 12px;
				line-height: 15px;
				display: none;
				margin: 0px;
			}
			&.active{
				background: none;
				span{
					display: block;
					margin: 0px;
					background-color: inherit;
				}
			}
		}
	}
}
.spa-widget-slide-owl-blog{

	.entry-item{
		position: relative;
	}
	.entry-content{
		text-align: center;
		position: absolute;
		
		width: 100%;
		left: 0px;
		img{
			width: auto;
			display: inline-block;
			margin-bottom: 35px;
		}
		@media screen and (max-width: 1920px) {
			top: 250px;
		}
		@media screen and (max-width: 1500px) {
			top: 200px;
		}
	}
	.item-sub-title{
		font-size: 18px;
		line-height: 24px;
		text-transform: uppercase;
		color: $cl-001;
		display: block;
		margin-bottom: 10px;
	}
	.entry-title{
		font-size: 55px;
		line-height: 72px;
		color: $cl-001;
		font-family: $font-thrid;
	}
	.entry-item p{
		color: $cl-001;
		font-size: 18px;
		line-height: 27px;
	}
	.owl-controls{
		margin: 0px;
		.owl-pagination{
			position: absolute;
			height: 15;
			width: 100%;
			bottom: 20px;
			top: auto;
			left: 0px;
			text-align: center;
			@media screen and (max-width: 1920px) {
				bottom: 120px;
			}
			@media screen and (max-width: 1500px) {
				bottom: 20px;
			}
		}
		div.owl-page{
			height: 15px;
			width: 15px;
			background-color: $cl-016;
			border-radius: 50%;
			margin: 0px 2.5px;
			display: inline-block;
			padding: 0px 5px;
			span{
				color: $cl-001;
				font-size: 11px;
				line-height: 15px;
				display: none;
				height: auto;
				width: auto;
			}
			&.active{
				@extend %main_bg_color;
				height: 19px;
				width: 19px;
				position: relative;
				top: -5px;
				span{
					display: block;
					line-height: 19px;
				}
			}
		}
	}
	@media screen and (max-width: 1550px) {
		.entry-content img{
			margin-bottom: 10px;
		}
		.entry-title{
			font-size: 45px;
			line-height: 45px;
		}
	}
	@media screen and (max-width: 1190px) {
		.entry-content img{
			display: none;
		}
	}
	@media screen and (max-width: 979px) {
		.item-sub-title{
			font-size: 14px;
			line-height: 18px;
		}
		.entry-title{
			font-size: 30px;
			line-height: 30px;
		}
		.entry-item p{
			display: none;
		}
	}
	@media screen and (max-width: 767px) {
		.entry-content {
			top: 150px;
		}
		.owl-pagination{
			display: none;
		}
	}
	@media screen and (max-width: 639px) {
		.entry-content {
		    top: 135px;
		}
	}
	@media screen and (max-width: 479px) {
		.entry-content {
		    top: 50px;
		}
		.entry-title{
			font-size: 24px;
			line-height: 24px;
		}
	}
}
.spa-widget-owl-slide-home1{
	.spa-owl-slider .owl-controls .owl-dot{
		background-color: rgba(255,255,255,0.2);
		&.active{
			background-color: inherit;
		}
	}
	.owl-controls{
		margin-top: 0px;
	}
	.entry-item{
		position: relative;
	}
	.entry-content{
		position: absolute;
		width: 100%;
		top: 210px;
		@media screen and (max-width: 1500px) {
			top: 100px;
		}
		left: 0px;
		text-align: center;
		img{
			width: auto;
			display: inline-block;
			margin-bottom: 10px;
		}
	}
	.spa-font3{
		color: $cl-001;
		font-size: 30px;
		line-height: 36px;
		font-family: $font-thrid;
		display: inline-block;
		margin-bottom: 5px;
	}
	.entry-title{
		font-size: 70px;
		line-height: 84px;
		text-transform: uppercase;
		letter-spacing: 0.3px;
		color: $cl-001;
	}
	.spa-font1{
		color: $cl-001;
		text-transform: uppercase;
		display: block;
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 45px;
	}
	.entry-item.style-02{
		.entry-content{
			height: 100%;
			width: 100%;
			top: 0px;
			left: 0px;
			padding-top: 125px;
			@media screen and (max-width: 1500px) {
				padding-top: 50px;
			}
			img{
				margin-bottom: 23px;
			}
			span{
				font-size: 16px;
				line-height: 28px;
				.spa-hl-text{
					color: #e84610;
					font-weight: 700;
				}
			}
			.entry-title{
				font-size: 120px;
				line-height: 125px;
				letter-spacing: 0.7px;
				color: $cl-068;
				background: -webkit-linear-gradient($cl-068,rgba(255,255,255,0.1));
			  	-webkit-background-clip: text;
			  	-webkit-text-fill-color: transparent;
			}
			.spa-btt-hastar{
				position: absolute;
				bottom: 150px;
				left: 50%;
				@extend %centerX;
			}
		}
	}
	.entry-item.style-03{
		.entry-content{
			bottom: 110px;
			top: auto;
		}
	}
	>.wrap{
		display: inline-block;
		position: absolute;
		top: 50%;
		@extend %centerY;
		left: 60px;
	}
	@media screen and (max-width: 1550px) {
		.spa-2-line-left-right{
			margin-bottom: 10px;
		}
		.spa-font3{
			margin-bottom: 0px;
		}
		.entry-title{
			font-size: 60px;
			line-height: 60px;
		}
	}
	@media screen and (max-width: 1190px) {
		.entry-content img{
			width: 105px;
			margin-bottom: 0px;
		}
		.entry-item.style-02 .entry-content img{
			width: 85px;
		}
		.spa-2-line-left-right{
			font-size: 5px;
			margin-bottom: 0px;
			&:before,&:after{
				width: 20px;
				height: 2px;
			}
		}
		.spa-font3{
			font-size: 16px;
			line-height: 19px;
		}
		.entry-title{
			font-size: 37px;
			line-height: 44px;
			letter-spacing: 0.3px;
			margin-bottom: 0px;
		}
		.spa-font1{
			font-size: 7px;
			line-height: 13px;
			margin-bottom: 25px;
		}
		.spa-button.bt-size-md{
			font-size: 8px;
			line-height: 20px;
			padding: 1px 20px;
		}
		.entry-item.style-02 .entry-content img{
			margin-bottom: 10px;
		}
		.entry-item.style-02 .entry-content span{
			font-size: 7px;
			line-height: 13px;
			display: inline-block;
		}
		.entry-item.style-02 .entry-content .entry-title{
			font-size: 37px;
			line-height: 44px;
			letter-spacing: 0.3px;
			margin-bottom: 0px;
		}
		.entry-item.style-02 .entry-content .spa-btt-hastar{
			bottom: 50px;
		}
	}
	@media screen and (max-width: 799px) {
		.spa-btt-hastar{
			font-size: 8px;
			line-height: 12px;
			padding: 5px 23px;
			i{
				font-size: 7px;
				top: -1px;
			}
		}
		.spa-owl-slider .owl-controls .owl-pagination{
			right: 25px;
		}
	}
	@media screen and (max-width: 639px) {
		.entry-content{
			top: 50px;
		}
		.entry-item.style-03 .entry-content{
			bottom: auto;
			top: 50px;
		}
		.spa-font3,.spa-font1,.spa-2-line-left-right,.entry-item.style-02 .entry-content span,.spa-btt-hastar{
			display: none;
		}
		.owl-pagination{
			display: none;
		}
	}
	@media screen and (max-width: 479px) {
		.entry-title{
			font-size: 22px;
			line-height: 24px;
		}
		.entry-item.style-02 .entry-content img{
			width: 70px;
			margin-bottom: 0px;
		}
		.entry-item.style-02 .entry-content .entry-title {
			font-size: 22px;
			line-height: 24px;
		}
	}
}
.spa-wrap-sarch-slider{
	height: 0;
    width: 100%;
    background: rgba(255,255,255,0.97);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999999;
    display: block;
    overflow: hidden;
   	transition: 3s;
   	-ms-transition: 3s;
   	-webkit-transition:3s;
    text-align: center;
    .widget{
    	padding-top: 170px;
    }
    form{
    	overflow: hidden;
    }
    h4{
    	font-size: 18px;
    	line-height: 24px;
    	font-weight: 400;
    	color: $cl-015;
    	margin-bottom: 35px;
    }
    .spa-list-car{
    	margin-bottom: 35px !important;
    }
    .spa-select{
    	padding-bottom: 22px;
    	border-bottom: 1px solid $cl-010;
    	margin-bottom: 40px;
    }
    .widget-content{
    	.spa-line-arow{
    		margin-top: 80px;
    		margin-bottom: 50px;
    	}
    }
    .spa-button.bt-size-lg{
    	border: 0px;
    }
    .spa-close-menu-responsive{
    	position: absolute;
    	top: 40px;
    	right: 60px;
    }
}
.spa-wrap-login-slider{
	height: 0px;
    width: 100%;
    background: rgba(255,255,255,0.97);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999999;
    display: block;
    overflow: hidden;
    transition: 3s;
   	-ms-transition: 3s;
   	-webkit-transition:3s;
    text-align: center;
    .spa-close-menu-responsive{
    	margin-top: 65px;
    }
    >img{
    	position: relative;
    	top: 115px;
    	z-index: 8;
    }
}
.spa-widget-login{
	background-color: $cl-001;
	height:100%;
	background-position: bottom right;
	background-repeat: no-repeat;
	form{
		margin-bottom: 35px;
	}
	padding: 80px 105px;
	.spa-tow-line{
		margin: 15px 0px;
	}
	.widget-content{
		p{
			font-size: 14px;
			line-height: 21px;
			color: $cl-024;
			text-align: center;
			margin-bottom: 0px;
		}
	}
}
.spa-widget-register{
	height: 100%;
	padding: 80px 105px;
	background-size: cover;
	.g-recaptcha{
		margin-bottom: 8px;
		>div{
			width: 100% !important;
		}
	}
}
.spa-widget-owl-slide-home1.style-01{
	.spa-owl-slider .owl-controls .owl-page{
		background-color: rgba(0,0,0,0.5);
		border: 1px solid rgba(255,255,255,0.7);
	}
	.spa-owl-slider .owl-controls .owl-page.active{
		background-color: inherit;
		border: 0px;
	}
}