@import 'sass/_style-sass.scss';
.spa-widget-social-circleload{
	.chart-circle{
		position: relative;
		display: inline-block;
		float: left;
		margin-right: 16px;
		i{
			font-size: 29px;
			color: $color-primary;
			position: absolute;
			top: 50%;
			left: 50%;
			@extend %centerXY;
		}
	}
	.entry-title{
		font-size: 20px;
		line-height: 24px;
		font-weight: bold;
		margin-bottom: 5px;
		padding-top: 10px;
		overflow: hidden;
	}
	span{
		font-size: 13px;
		line-height: 18px;
		text-transform: uppercase;
		color: $cl-034;
		overflow: hidden;
	}
}