<section class="spa-area spa-area-01">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="widget spa-widget-list-product-intro">
          <div class="widget-header">
            <h3 class="widget-title">new product</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam, sed diam nonummy nibh euismod
              <br> tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
          <div class="widget-content">
            <div class="spa-wrap-owl">
              <div class="owl-carousel">
                <article class="entry-item">
                  <div class="entry-thumb spa-hover-effect-2">
                    <img src="http://placehold.it/370x280" alt="">
                    <div class="spa-wrap-thumb-add-feature">
                      <a href="#" class="fa fa-heart-o"></a>
                      <a href="#" class="fa fa-shopping-basket"></a>
                      <a href="#" class="fa fa-search"></a>
                    </div>
                  </div>
                  <div class="entry-content woocommerce">
                    <div class="spa-wrap-line">
                      <h4 class="entry-title"><a href="#">MERCEDES M3 GTR</a></h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam, sed diam nonumy
                      nicely done...</p>
                  </div>
                </article>
                <article class="entry-item">
                  <div class="entry-thumb spa-hover-effect-2">
                    <img src="http://placehold.it/370x280" alt="">
                    <div class="spa-wrap-thumb-add-feature">
                      <a href="#" class="fa fa-heart-o"></a>
                      <a href="#" class="fa fa-shopping-basket"></a>
                      <a href="#" class="fa fa-search"></a>
                    </div>
                  </div>
                  <div class="entry-content woocommerce">
                    <div class="spa-wrap-line">
                      <h4 class="entry-title"><a href="#">MERCEDES M3 GTR</a></h4>
                    </div>
                                                    </span>
                    <p>Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam, sed diam nonumy
                      nicely done...</p>
                  </div>
                </article>
                <article class="entry-item">
                  <div class="entry-thumb spa-hover-effect-2">
                    <img src="http://placehold.it/370x280" alt="">
                    <div class="spa-wrap-thumb-add-feature">
                      <a href="#" class="fa fa-heart-o"></a>
                      <a href="#" class="fa fa-shopping-basket"></a>
                      <a href="#" class="fa fa-search"></a>
                    </div>
                  </div>
                  <div class="entry-content woocommerce">
                    <div class="spa-wrap-line">
                      <h4 class="entry-title"><a href="#">MERCEDES M3 GTR</a></h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam, sed diam nonumy
                      nicely done...</p>
                  </div>
                </article>
                <article class="entry-item">
                  <div class="entry-thumb spa-hover-effect-2">
                    <img src="http://placehold.it/370x280" alt="">
                    <div class="spa-wrap-thumb-add-feature">
                      <a href="#" class="fa fa-heart-o"></a>
                      <a href="#" class="fa fa-shopping-basket"></a>
                      <a href="#" class="fa fa-search"></a>
                    </div>
                  </div>
                  <div class="entry-content woocommerce">
                    <div class="spa-wrap-line">
                      <h4 class="entry-title"><a href="#">MERCEDES M3 GTR</a></h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer dolorado adipiscing elit diam, sed diam nonumy
                      nicely done...</p>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
