<section class="spa-area spa-area-01">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="widget spa-widget-list-product-intro">
          <div class="widget-header">
            <span class="sub-title">WizzART</span>
            <h3 class="widget-title">Najnowsze projekty</h3>
          </div>
          <div class="widget-content">
            <div class="spa-wrap-owl">
              <div class="owl-carousel">
                <% @projects.each do |p| %>
                    <article class="entry-item">
                      <div class="entry-thumb spa-hover-effect-2">
                        <div class="rotate" style="display:none;">
                          <% p.resources.each do |r| %>
                              <%= link_to((image_tag r.image.url), project_path(p)) %>
                          <% end %>
                          <span class="spa-sale">Otwórz</span>
                        </div>
                        <div class="entry-content woocommerce">
                          <div class="spa-wrap-line">
                            <h4 class="entry-title"><%= link_to p.title, project_path(p) %></h4>
                          </div>
                        </div>
                        <p><%= p.description %></p>
                      </div>
                    </article>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>