<section class="spa-area spa-area-01">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="widget spa-widget-list-product-intro">
          <div class="widget-header">
            <span class="sub-title">WizzART</span>
            <h3 class="widget-title">Najnowsze projekty</h3>
          </div>
          <div class="widget-content">
            <div class="spa-wrap-owl">
              <div class="owl-carousel">
                <% @projects.each do |project| %>
                  <article class="entry-item">
                    <div class="entry-thumb spa-hover-effect-2">
                      <div class="rotate-wrapper" style="height: 280px; width: 370px;">
                        <div class="rotate" style="display:none;">
                          <% project.resources.each do |resource| %>
                            <%= link_to((image_tag resource.image.url, style: 'height: 280px; width: 370px;'), project_path(project)) %>
                          <% end %>
                        </div>
                      </div>
                      <div class="spa-wrap-thumb-add-feature">
                      </div>
                      <span class="spa-sale"><%= project.title %></span>
                    </div>
                    <div class="entry-content woocommerce">
                      <div class="spa-wrap-thumb-add-feature">
                      </div>
                      <p>
                        <%= project.description %>
                      </p>
                    </div>
                  </article>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
