<div class="spa-wrap-gototop"><span class="spa-gototop"><i class="fa fa-long-arrow-up"></i></span>
</div>
<div class="bottom-sidebar style-01">
  <div class="container">
    <p></p>
    <div class="row white-text-style mh-populor">
      <div class="col-md-3 col-md-offset-2" style="height: 200px !important;">
        <div class="widget widget_nav_menu">
          <h3 class="widget-title style-02">
            Media społecznościowe
          </h3>
          <div class="widget-content">
            <ul class="menu">
              <li><a href="#" class="fa fa-angle-double-right">Facebook</a>
              </li>
              <li><a href="#" class="fa fa-angle-double-right">Twitter</a>
              </li>
              <li><a href="#" class="fa fa-angle-double-right">Instagram</a>
              </li>
              <li><a href="#" class="fa fa-angle-double-right">LinkedIn</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-offset-2" style="height: 200px !important;">
        <div class="widget spa-widget-contact-bottom">
          <h3 class="widget-title style-02">
            Kontakt
          </h3>
          <div class="widget-content">
            <a href="#"><i class="fa fa-map-marker"></i>31-147 Kraków, ul. Długa 63/8</a>
            <a href="#"><i class="fa fa-phone"></i>Telefon : 504-285-395</a>
            <a href="#"><i class="fa fa-envelope"></i>Email : wizzart24@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="spa-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="left: 370px; top: 10px;">
        <span class="spa-copyright">Copyright <span>NeverTrustRobots</span> 2016 Made by <%= mail_to 'vladimirkabar@gmail.com', 'Vladimir Kabar', subject: 'Zapytanie o stronę' %>
        </span>
      </div>
    </div>
  </div>
</footer>
