<footer class="spa-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <span class="spa-copyright">Copyright <span>NeverTrustRobots</span> 2016 Made  <i class="fa fa-heart"></i> by Vladimir Kabar</span>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <nav class="spa-menu-footer">
          <ul>
            <li><a href="#">FACEBOOK</a>
            </li>
            <li><a href="#">TWITTER</a>
            </li>
            <li><a href="#">INSTAGRAM</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>